{
  email it@chicon.org
  http_port {% caddy_insecure_port %}
{% if caddy_use_test_endpoint %}
  acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
{% endif %}
}

(logging) {
	log
}

(passworded) {
	basicauth / {
		preview JDJhJDEwJGdDcm9uR0EwOE9NQUFGNWx5Rzl5VHVjQmVaY1V2elJwbktDbi92YlU1S241anA1Z2lrWHM2
	}
}

import {{ caddy_conf_dir }}/sites-enabled/*.conf
