# {{ ansible_managed }}: from {{ template_path }}
{{ site.hostname }} {
	import logging
	reverse_proxy /api/* https://localhost:{{ site.api_port }} {
		transport http {
			tls_insecure_skip_verify
		}
	}
    reverse_proxy localhost:{{ site.client_port }}
}
