[Unit]
Description=Runs credential rotator
Wants=rorate-creds.timer

[Service]
ExecStart={{ chicon_home }}/sbin/rotate-creds.sh
WorkingDirectory={{ chicon_home }}

[Install]
WantedBy=multi-user.target
