#!/bin/bash
export AWS_DEFAULT_REGION=us-west-2
cat <<EOF > {{ chicon_home }}/etc/creds.env
{% for cv in chicon_credentials %}
{{ cv.env_var }}={{ cv.command }}
{% endfor %}
EOF
chown root:chicago {{ chicon_home }}/etc/creds.env
chmod 640 {{ chicon_home }}/etc/creds.env
