[Unit]
Description=Run letsencrypt on boot and twice daily

[Timer]
OnBootSec=30sec
OnCalendar=*-*-* 04:23,16:42
Unit=letsencrypt.service

[Install]
WantedBy=timers.target
