version: '3.7'
services:
  redis:
    image: redis:alpine
    restart: always
    volumes:
      - redis-data:/data

  web:
    image: {{ wellington_ecr_registry }}:${WELLINGTON_DOCKER_TAG}
    ports:
      - "{{ wellington_public_port }}:443"
      - "127.0.0.1:{{ wellington_insecure_public_port}}:3000"
    volumes:
      - type: tmpfs
        target: /app/tmp
{% for vol in _wellington_docker_volumes %}
      - {{ vol }}
{% endfor %}
{% if _wellington_environment_vars %}
    environment:
{% for k, v in _wellington_environment_vars.items() %}
      - {{ k }}={{ v }}
{% endfor %}
{% endif %}
    env_file:
      - "{{ chicon_home }}/etc/hostname.env"
      - "{{ chicon_home }}/etc/{{ app_name }}.env"
      - "{{ chicon_home }}/etc/{{ app_name }}-overrides.env"
      - "{{ chicon_home }}/etc/creds.env"
      - "{{ chicon_home }}/etc/{{ app_name }}/tag.env"
    restart: always

  worker:
    entrypoint: "script/docker_sidekiq_entry.sh"
    image: {{ wellington_ecr_registry }}:${WELLINGTON_DOCKER_TAG}
    volumes:
      - type: tmpfs
        target: /app/tmp
{% for vol in _wellington_docker_volumes %}
      - {{ vol }}
{% endfor %}
{% if _wellington_environment_vars %}
    environment:
{% for k, v in _wellington_environment_vars.items() %}
      - {{ k }}={{ v }}
{% endfor %}
{% endif %}
    env_file:
      - "{{ chicon_home }}/etc/hostname.env"
      - "{{ chicon_home }}/etc/{{ app_name }}.env"
      - "{{ chicon_home }}/etc/{{ app_name }}-overrides.env"
      - "{{ chicon_home }}/etc/creds.env"
      - "{{ chicon_home }}/etc/{{ app_name }}/tag.env"
    restart: always

volumes:
  redis-data:
