[Unit]
Requires=docker.service
Requires=rotate-creds.timer
Description=Run wellington docker container

[Service]
User=wellington

WorkingDirectory=/opt/chicago/app/wellington

EnvironmentFile=/opt/chicago/etc/wellington/tag.env

ExecStart=/usr/bin/docker-compose --no-ansi up 

ExecStop=/usr/bin/docker-compose down -v

Restart=always

[Install]
WantedBy=multi-user.target
