version: "3.7"
services:
  mysql:
    image: mysql:8.0
    restart: always
    env_file:
      - "{{ chicon_home }}/etc/hostname.env"
      - "{{ chicon_home }}/etc/{{ app_name }}.env"
      - "{{ chicon_home }}/etc/{{ app_name }}-overrides.env"
      - "{{ chicon_home }}/etc/creds.env"
    environment:
      MYSQL_DATABASE: {{ app_name }}


  web:
    # this image enables mysql in PHP
    image: chrisr/php-mysql:latest
    ports:
      - "127.0.0.1:{{ planz_insecure_public_port}}:80"
    volumes:
{% for vol in _planz_docker_volumes %}
      - {{ vol }}
{% endfor %}
{% if _planz_environment_vars %}
    environment:
{% for k, v in _planz_environment_vars.items() %}
      - {{ k }}={{ v }}
{% endfor %}
{% endif %}
    env_file:
      - "{{ chicon_home }}/etc/hostname.env"
      - "{{ chicon_home }}/etc/{{ app_name }}.env"
      - "{{ chicon_home }}/etc/{{ app_name }}-overrides.env"
      - "{{ chicon_home }}/etc/creds.env"
    depends_on:
      - mysql
    links:
      - mysql:db
    restart: always

  adminer:
    image: adminer:4
    restart: always
    links:
      - mysql:db
    ports:
      - 5050:8080
