# NOTICE: This file is managed by Ansible and may be overwritten
# without notice by updates to the system.
#
# If you need to make changes to this file, please do so by modifying
# the ansible/roles/planz/templates/planz.conf.j2 in the
# ChicagoWorldcon/infrastructure repository
#
# Last ansible run: {{ ansible_date_time.iso8601 }}

{{ application_fqdn }} {
	import logging
    handle_path "/adminer/*" {
        uri strip_prefix /adminer
        reverse_proxy localhost:5050
    }

	reverse_proxy localhost:{{ planz_insecure_public_port }}
}
