# NOTICE: This file is managed by Ansible and may be overwritten
# without notice by updates to the system.
#
# If you need to make changes to this file, please do so by modifying
# the ansible/roles/planz/templates/service.env.j2 in the
# ChicagoWorldcon/infrastructure repository
#
# Last ansible run: {{ ansible_date_time.iso8601 }}

# Used for URL generation and using compiled assets
RAILS_ENV={{ planz_rails_env }}
RAILS_LOG_TO_STDOUT=true
RAILS_LOG_LEVEL=info

# DB_NAME will be used in rake tasks to stand up your database, so use whatever you prefer here
# Settings taken from https://console.aws.amazon.com/rds/home
DB_HOST={{ db_hostname }}
DB_NAME={{ db_name }}
POSTGRES_USER={{  db_site_username  }}
# Provided by actual service env
# POSTGRES_PASSWORD=shuquairae2CcopypastaohmiFe1shie7eoxee2

# Sidekiq settings, protected behind http basic auth
# If you don't include sidekiq username/password, this will disable sidekiq admin panel
SIDEKIQ_REDIS_URL=redis://redis:6379/0
SIDEKIQ_USER=sidekiq

# Provided by actual service env
# SIDEKIQ_PASSWORD=5b197341fc62d9c9bbcopypastabc7a6cbcf07329c9fe52fa55cab98e

# Suggested you use SendGrid here, use an API key as your password
# Generate them here https://app.sendgrid.com/settings/api_keys
SMTP_SERVER={{ smtp_server }}
SMTP_PORT={{ smtp_port }}
SMTP_USER_NAME={{ smtp_user_name }}
# Provided by actual service env
# SMTP_PASSWORD=SG.woithuz8Hiefah1aevaeph4tha8yi1ecopypastaitotouliaGoo0eey7te9hiuF9h

# Con specific mailer configuration
MAINTAINER_EMAIL={{ programming_contacts.maintainer_email }}
PROGRAMMING_EMAIL={{ programming_contacts.programming_email }}

WORLDCON_THEME=chicago
WORLDCON_CONTACT=chicago
WORLDCON_CITY=chicago

# This is built into the docker image, but it goes here as well to allow the
# local rails console to work
WORLDCON_NUMBER=worldcon80
