# NOTICE: This file is managed by Ansible and may be overwritten
# without notice by updates to the system.
#
# If you need to make changes to this file, please do so by modifying
# the ansible/roles/planz/templates/systemd.service.j2 in the
# ChicagoWorldcon/infrastructure repository
#
# Last ansible run: {{ ansible_date_time.iso8601 }}

[Unit]
Requires=docker.service
Requires=rotate-creds.timer
Description=Run planz docker container

[Service]
User=planz

WorkingDirectory={{ app_dir }}

EnvironmentFile={{ etc_dir }}/tag.env

ExecStart=/usr/bin/docker-compose --no-ansi up 

ExecStop=/usr/bin/docker-compose down -v

Restart=always

[Install]
WantedBy=multi-user.target
