[Unit]
Description=Registration API service
Requires=docker.service
Requires=letsencrypt.timer
After=docker.service

[Service]
Restart=always

WorkingDirectory=/opt/registration/registration-api
Environment=DB_HOSTNAME=${db_hostname}
Environment=DB_NAME=${db_name}
Environment=REGISTRATION_API_DOMAIN_NAME=${registration_api_domain_name}
Environment=REGISTRATION_WWW_DOMAIN_NAME=${registration_www_domain_name}

User=ec2-user

# Remove old containers, images and volumes
ExecStartPre=/opt/registration/registration-api/dc down -v
ExecStartPre=/opt/registration/registration-api/dc rm -fv
ExecStartPre=-/bin/bash -c 'docker volume ls -qf "name=registrationapi_" | xargs docker volume rm'
ExecStartPre=-/bin/bash -c 'docker network ls -qf "name=registrationapi_" | xargs docker network rm'
ExecStartPre=-/bin/bash -c 'docker ps -aqf "name=registrationapi_*" | xargs docker rm'

# Compose up
ExecStart=/opt/registration/registration-api/dc up --build

# Compose down, remove containers and volumes
ExecStop=/opt/registration/registration-api/dc down -v

[Install]
WantedBy=multi-user.target