[Unit]
Description=journald-cloudwatch-logs
Wants=basic.target
After=basic.target network.target

[Service]
ExecStart={{ journald_cloudwatch_logs_binary }}
Environment="LOG_GROUP_NAME={{ journald_cloudwatch_logs_log_group }}"
KillMode=process
Restart=on-failure
RestartSec=42s
